<div class=" events-top-container bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="background-image: url('../../../assets/All Images/events-top-bg.jpg'); background-size: cover;">
    <!-- <h1 class="mb-3 h2">Events</h1> -->
    <!-- <a routerLink="/home">Home</a> -->
</div>



<div class="container shadow mt-5">
    <div class="row">
        <div class="col-sm-12 col-lg-3  text-center">
            <img src="../../../assets/All Images/events1.png" alt="">
        </div>
        <div class="col-sm-12 col-lg-6 text-center">
            <h4 class="title-event">2020 Life Insurance Conference</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <p> 120 G-35 Spinsovila Sc, USA</p>
            <a class="link-join-now" routerLink="">Join Now</a>
        </div>
        <div class="col-sm-12 col-lg-3 text-center event-right-bg">
            <h4>01</h4>
            <h4>10 October, 2022</h4>
            <h4>7:30 pm</h4>
        </div>
    </div>
</div>
<div class="container mt-5 shadow">
    <div class="row">
        <div class="col-sm-12 col-lg-3 text-center">
            <img src="../../../assets/All Images/events2.png" alt="">
        </div>
        <div class="col-sm-12 col-lg-6 text-center">
            <h4 class="title-event">2022 Business Insurance Summit</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p> 120 G-35 Spinsovila Sc, USA</p>
            <a class="link-join-now" routerLink="/home">Join Now</a>
        </div>
        <div class="col-sm-12 col-lg-3 text-center event-right-bg">
            <h4>01</h4>
            <h4>10 October, 2022</h4>
            <h4>7:30 pm</h4>

        </div>
    </div>
</div>
<div class="container mt-5 shadow">
    <div class="row">
        <div class="col-sm-12 col-lg-3 text-center">
            <img src="../../../assets/All Images/events3.png" alt="">
        </div>

        <div class="col-sm-12 col-lg-6 text-center">
            <h4 class="title-event">2021 Home Insurance Summit</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            </p>
            <p> 120 G-35 Spinsovila Sc, USA</p>
            <a class="link-join-now" routerLink="/home">Join Now</a>
        </div>
        <div class="col-sm-12 col-lg-3 text-center event-right-bg">
            <h4>01</h4>
            <h4>10 October, 2022</h4>
            <h4>7:30 pm</h4>
        </div>
    </div>
</div>

<div class="container mt-5 shadow mb-5">
    <div class="row">
        <div class="col-sm-12 col-lg-3 text-center">
            <img src="../../../assets/All Images/events4.png" alt="">
        </div>
        <div class="col-sm-12 col-lg-6 text-center">
            <h4 class="title-event">2021 Health Insurance Summit</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            </p>
            <p> 120 G-35 Spinsovila Sc, USA</p>
            <a class="link-join-now" routerLink="/home">Join Now</a>
        </div>
        <div class="col-sm-12 col-lg-3 text-center event-right-bg">
            <h4>01</h4>
            <h4>10 October, 2022</h4>
            <h4>7:30 pm</h4>
        </div>
    </div>
</div>