<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 mt-2">
      <h5 class="question">Q: What is personal liability umbrella coverage?</h5>
      <p><span style="font-weight: bold;">Ans: </span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
    </div>
    <div class="col-md-6 mt-2">
      <h5 class="question">Q: How do I print my Auto insurance ID card?</h5>
      <p><span style="font-weight: bold;">Ans: </span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-2">
      <h5 class="question">Q: What kinds of Auto insurance discounts are available?</h5>
      <p><span style="font-weight: bold;">Ans: </span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
    </div>
    <div class="col-md-6 mt-2">
      <h5 class="question">Q: How do I know what deductible applies to my policy?</h5>
      <p><span style="font-weight: bold;">Ans: </span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-2">
      <h5 class="question">Q: If I am moving, will I need to request a new agent?
      </h5>
      <p><span style="font-weight: bold;">Ans: </span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
    </div>
    <div class="col-md-6 mt-2">
      <h5 class="question">Q: How does this plan work?</h5>
      <p><span style="font-weight: bold;">Ans: </span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-2">
      <h5 class="question">Q: How many times will be charged?</h5>
      <p><span style="font-weight: bold;">Ans: </span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
    </div>
    <div class="col-md-6 mt-2">
      <h5 class="question">Q: How long do I have access?</h5>
      <p><span style="font-weight: bold;">Ans: </span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
    </div>
  </div>
</div>