<div class="pricing-top-container bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="background-image: url('../../../assets/All Images/pricing-bg-top.jpg'); background-size: cover;">
    <h1 class="mb-3 h2">Pricing</h1>


    <a routerLink="/home">Home</a>
</div>

<div class="row d-flex mb-5">
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center" style="width: 18rem;">
            <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
                style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
                <h1 class="mb-3 h2">Basic</h1>
            </div>
            <div class="d-flex flex-column align-items-center">
                <h3 class="price-tag">$179/mo</h3>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> Home Insurance</p>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> Life Insurance</p>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> Health Insurance</p>
                <p><i class="fa fa-times text-danger" aria-hidden="true"></i> Car Insurance</p>
                <p><i class="fa fa-times text-danger" aria-hidden="true"></i> BusinessInsurance</p>
                <p><i class="fa fa-times text-danger" aria-hidden="true"></i> Travel Insurance</p>
                <a href="#" class="mt-2" style="text-decoration: none; color: #002e5b; font-weight: bold;">Get Policy</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center" style="width: 18rem;">
            <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
                style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
                <h1 class=" h2">Professional</h1>
            </div>
            <div class="d-flex flex-column align-items-center">
                <h3 class="price-tag">$259/mo</h3>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> Home Insurance</p>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> Life Insurance</p>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> Health Insurance</p>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> Car Insurance</p>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> BusinessInsurance</p>
                <p><i class="fa fa-times text-danger" aria-hidden="true"></i> Travel Insurance</p>
                <a href="#" class="mt-2" style="text-decoration: none; color: #002e5b; font-weight: bold;">Get Policy</a>
            </div>
        </div>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center" style="width: 18rem;">
            <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
                style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
                <h1 class="mb-3 h2">Premium</h1>
            </div>
            <div class="d-flex flex-column align-items-center">
                <h3 class="price-tag">$379/mo</h3>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> Home Insurance</p>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> Life Insurance</p>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> Health Insurance</p>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> Car Insurance</p>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> BusinessInsurance</p>
                <p><i class="fa fa-check text-success" aria-hidden="true"></i> Travel Insurance</p>
                <a href="#" class="mt-2" style="text-decoration: none; color: #002e5b; font-weight: bold;">Get Policy</a>
            </div>
        </div>
    </div>

</div>