<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/All Images/team_main.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/All Images/team_main2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/All Images/team_main3.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>

<div class="row d-flex">
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/All Images/teamMember1.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title team-member-title">Lee Munroe</h5>

                <p class="card-text team-member-position">CEO & Founder</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/All Images/teamMember2.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title team-member-title">Calvin Klein</h5>
                <p class="card-text team-member-position">Underwriter</p>
            </div>
        </div>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/All Images/teamMember3.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title team-member-title">Sarah Taylor</h5>
                <p class="card-text team-member-position">Risk Manager</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-5 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/All Images/teamMember4.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title team-member-title">Alastair Cook</h5>
                <p class="card-text team-member-position">Agent</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-5 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/All Images/teamMember5.jpg" class="card-img-top" alt="...">
            <div class="card-body  text-center">
                <h5 class="card-title team-member-title">Meg Lanning</h5>
                <p class="card-text team-member-position">Agent</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-5 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/All Images/teamMember6.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title team-member-title">James Anderson</h5>
                <p class="card-text team-member-position">Marketing Support</p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="feedbackPart1">Our feedback</div>
    <div class="feedbackPart2">What Client Says</div>
    <div class="feedbackPart3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.</div>
    <div class="feedbackPart4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt beatae ut impedit
        tempora sunt mollitia alias totam asperiores sapiente! Obcaecati vero dolorem distinctio ratione quasi saepe
        corporis quas qui natus.</div>
</div> -->