<div class="service-top-container bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="background-image: url('../../../assets/All Images/services-top-bg.png'); background-size: cover;">
    <h1 class="mb-3 h2">Our Services</h1>

    <a routerLink="/home" style="text-decoration: none; color: #002e5b; font-weight: bold;">Home</a>
</div>

<div class="row d-flex">
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center shadow">
        <div class="d-flex flex-column align-items-center" style="width: 18rem;">
            <img src="../../../assets/All Images/services-home-ins.png" class="mt-5" alt="..." height="25%" width="35%">
            <div class="d-flex flex-column align-items-center">
                <h5 class="mt-3">Home Insurance</h5>
                <p class="mt-3 text-center">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content.</p>
                <a href="#" class="mt-2" style="text-decoration: none; color: #002e5b; font-weight: bold;">Learn
                    more</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center shadow">
        <div class="d-flex flex-column align-items-center" style="width: 18rem;">
            <img src="../../../assets/All Images/services-life-ins.png" class="mt-5" alt="..." height="25%" width="35%">
            <div class="d-flex flex-column align-items-center">
                <h5 class="mt-3">Life Insurance</h5>
                <p class="mt-3">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="mt-2" style="text-decoration: none; color: #002e5b; font-weight: bold;">Learn
                    more</a>
            </div>
        </div>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center shadow">
        <div class="d-flex flex-column align-items-center" style="width: 18rem;">
            <img src="../../../assets/All Images/services-business-ins.png" class="mt-5" alt="..." height="25%"
                width="35%">
            <div class="d-flex flex-column align-items-center">
                <h5 class="mt-3">Business Insurance</h5>
                <p class="mt-3">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="mt-2" style="text-decoration: none; color: #002e5b; font-weight: bold;">Learn
                    more</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-5 d-flex justify-content-center shadow">
        <div class="d-flex flex-column align-items-center" style="width: 18rem;">
            <img src="../../../assets/All Images/services-health-ins.png" class="mt-5" alt="..." height="25%"
                width="35%">
            <div class="d-flex flex-column align-items-center">
                <h5 class="mt-3">Health Insurance</h5>
                <p class="mt-3">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="mt-2" style="text-decoration: none; color: #002e5b; font-weight: bold;">Learn
                    more</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-5 d-flex justify-content-center shadow">
        <div class="d-flex flex-column align-items-center" style="width: 18rem;">
            <img src="../../../assets/All Images/services-travel-ins.png" class="mt-5" alt="..." height="25%"
                width="35%">
            <div class="d-flex flex-column align-items-center">
                <h5 class="mt-3">Travel Insurance</h5>
                <p class="mt-3">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="mt-2" style="text-decoration: none; color: #002e5b; font-weight: bold;">Learn
                    more</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-5 d-flex justify-content-center shadow">
        <div class="d-flex flex-column align-items-center" style="width: 18rem;">
            <img src="../../../assets/All Images/services-car-ins.png" class="mt-5" alt="..." height="25%" width="35%">
            <div class="d-flex flex-column align-items-center">
                <h5 class="mt-3">Car Insurance</h5>
                <p class="mt-3">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="mt-2" style="text-decoration: none; color: #002e5b; font-weight: bold;">Learn
                    more</a>
            </div>
        </div>
    </div>
</div>