<div class="container1 container justify-content-center">

    <img src="../../../assets/All Images/errorImg.png" alt="" id="imgError" class="mt-4">

    <h2 class="mt-3 error-heading">Page Not Found</h2>

    <p class="errorContent mt-3">
        The page you are looking for might have been removed had its name changed or is temporarily unavailable.
    </p>
    <button class="btn mt-3 mb-5" style="background-color: #002e5b; color: white;font-weight: bold;" routerLink="/home">Go to Home</button>
</div>