<h2>Welcome! Signup to continue</h2>

<form name="myForm" #frm="ngForm" (ngSubmit)="frm.form.valid && onSignup(frm)">
    <div class="form-group">
        <label for="fname">First name: <span style="color: red;">*</span></label>
        <input type="text" name="fname" #fname="ngModel" ngModel class="form-control" required
            [ngClass]="{'is-invalid': frm.submitted && fname.invalid}">
        <div *ngIf="frm.submitted && fname.invalid" class="invalid-feedback">
            First name is required
        </div>
    </div>

    <!-- <div class="form-group">
        <label for="fname">Middle name: <span style="color: red;">*</span></label>
        <input type="text" name="mname" #mname="ngModel" ngModel class="form-control" required
            [ngClass]="{'is-invalid': frm.submitted && mname.invalid}">
        <div *ngIf="frm.submitted && mname.invalid" class="invalid-feedback">
            Middle name is required
        </div>
    </div> -->

    <div class="form-group">
        <label for="lname">Last name: <span style="color: red;">*</span></label>
        <input type="text" name="lname" #lname="ngModel" ngModel class="form-control" required
            [ngClass]="{'is-invalid': frm.submitted && lname.invalid}">
        <div *ngIf="frm.submitted && lname.invalid" class="invalid-feedback">
            Last name is required
        </div>
    </div>

    <!-- <div class="form-group">
        <label for="email">Email address: <span style="color: red;">*</span></label>
        <input type="email" name="email" #email="ngModel" ngModel class="form-control" required
            [ngClass]="{'is-invalid': frm.submitted && email.invalid}"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <div *ngIf="email.touched" class="invalid-feedback">
            <p *ngIf="email.errors?.['required']">Email is required</p>
            <p *ngIf="email.errors?.['pattern']">Invalid email</p>
        </div>
    </div>
 -->

    <!-- <div class="form-group">
        <label for="username">Set username: <span style="color: red;">*</span></label>
        <input type="text" name="username" #username="ngModel" ngModel class="form-control" required
            [ngClass]="{'is-invalid': frm.submitted && username.invalid}">
        <div *ngIf="frm.submitted && username.invalid" class="invalid-feedback">
            Please choose username
        </div>
    </div> -->

    <button class="btn btn-success">Sign Up</button>
</form>